Source: freeglut
Maintainer: Anton Gladky <gladk@debian.org>
Section: graphics
Priority: optional
Build-Depends: cmake,
               debhelper-compat (= 13),
               libglu1-mesa-dev,
               libtool,
               libusbhid-dev [kfreebsd-any],
               libx11-dev,
               libxext-dev,
               libxi-dev,
               libxxf86vm-dev [amd64 i386]
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/debian/freeglut
Vcs-Git: https://salsa.debian.org/debian/freeglut.git
Homepage: https://freeglut.sourceforge.net/

Package: libglut3.12
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Breaks: freeglut3 (<< 2.8.1-7)
Replaces: freeglut3 (<< 2.8.1-7)
Description: OpenGL Utility Toolkit
 GLUT is a window system independent toolkit for writing OpenGL programs,
 implementing a simple windowing API, which makes learning about and
 exploring OpenGL programming very easy.
 .
 GLUT is designed for constructing small to medium sized OpenGL programs,
 however it is not a full-featured toolkit, so large applications requiring
 sophisticated user interfaces are better off using native window system
 toolkits like GTK+ or Motif.

Package: freeglut3-dev
Architecture: any
Multi-Arch: same
Section: oldlibs
Depends: libglut-dev (= ${binary:Version}),
         ${misc:Depends}
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libglut-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libglut3.12 (= ${binary:Version}),
         libglu1-mesa-dev,
         libxext-dev,
         libxt-dev,
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Breaks: freeglut3-dev (<< 3.2.2)
Replaces: freeglut3-dev (<< 3.2.2)
Description: OpenGL Utility Toolkit development files
 GLUT is a window system independent toolkit for writing OpenGL programs.
 It implements a simple windowing API, which makes learning about and
 exploring OpenGL programming very easy.
 .
 GLUT is designed for constructing small to medium sized OpenGL programs,
 however it is not a full-featured toolkit, so large applications requiring
 sophisticated user interfaces are better off using native window system
 toolkits like GTK+ or Motif.
 .
 This package contains libraries, and headers suitable for software
 development with GLUT.
